<!-- 一覧 -->
<div class="faq_wrapper">
  <div class="faq_box">
  <div class="faq_index">
    <h2>よくある質問</h2>
    <!-- ページ内でリンクを作る。ここは設定した目印(アンカー)へのリンク。 -->
    <!-- <a href="#アンカー名">   </a> -->
    <a href="#q1"><h3>Q1.○○○○○</h3></a>
    <a href="#q2"><h3>Q2.○○○○○</h3></a>
    <a href="#q3"><h3>Q3.○○○○○</h3></a>
    <a href="#q4"><h3>Q4.○○○○○</h3></a>
   </div>
  </div>
<!-- 各項目・回答 -->
  <div class="faq_main">

    <!-- ページ内でリンクを作る。要素に目印(アンカー)を置く。 -->
    <!-- <要素 id="アンカー名"　　または<a name="アンカー名"> -->
    <h3 id="q1">Q1.○○○○○</h3>
    <h3>A.○○○○○</h3>

    <h3 id="q2">Q2.○○○○○</h3>
    <h3>A.○○○○○</h3>

    <h3 id="q3">Q3.○○○○○</h3>
    <h3>A.○○○○○</h3>

    <h3 id="q4">Q4.○○○○○</h3>
    <h3>A.○○○○○</h3>

  </div>
</div>
