<!-- 問い合わせフォームのページ -->
<div class="form-main">

 <div class="form_box">
   <div class="form">
    <h2 class="form-heading">お問い合わせはこちらから</h2>
     <p>お名前</p>
     <input><!-- 終了タグ不要。１行用-->

     <p>E-mail</p>
     <input><!-- 終了タグ不要。１行用-->

     <p>お問い合わせ内容</p>
     <textarea></textarea>

  <!-- 送信ボタン。<input>にtype属性を持たせてsubmitを指定-->
    <input class="form_btn" type="submit" value="送信">
  </div>
 </div>
</div>
